:root {
  --primary-container-color: #edf2f4;
  --primary-font-red: #d90429;
  --primary-font-dark-red: #c50a29;
  --primary-font-cadet: #2b2d42;
  --secondary-font-red: #ef233c;
  --secondary-font-manatee: #8d99ae;
  --first-font-style: "Poppins", sans-serif;
  --second-font-style: "Oswald", sans-serif;
}

.covid_footer {
  width: 100%;
  background-color: var(--primary-font-dark-red);
  color: var(--primary-container-color);
  padding-bottom: 1rem;
}

.footer_container {
  max-width: 1440px;
  margin: auto;
  padding: 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 3rem;
}

.footer_ckeanu a {
  text-decoration: none;
  color: var(--primary-container-color);
}

.footer_ckeanu a:hover {
  text-decoration: underline;
}

.stay_safe_p {
  text-align: center;
}

/* -----------------------------------------------RESPONSIVE-------------------------------------------- */

@media (max-width: 450px) {
  .footer_container {
    flex-direction: column;
    text-align: center;
  }
}
